h1 {
	margin-bottom: 15px;
	font-size: 60px;
	color: white;
	background-color: black;
	text-align: center;
	text-decoration: underline;
}
body {
    background-color: #75cff0;
    font-family: ‘Trebuchet MS’, ‘Lucida Sans Unicode’, ‘Lucida Grande’, ‘Lucida Sans’, Arial, sans-serif;
}
h2,
h4 {
    color: #070000;
    text-align: left;
    /* font-weight: bold; */
    font-family: ‘Trebuchet MS’, ‘Lucida Sans Unicode’, ‘Lucida Grande’, ‘Lucida Sans’, Arial, sans-serif;
}

h5 {
    font-family: ‘Trebuchet MS’, ‘Lucida Sans Unicode’, ‘Lucida Grande’, ‘Lucida Sans’, Arial, sans-serif;
    color: rgb(3, 3, 3);
    margin-left: 66%;
    margin-top: 50%;
    font-size: medium;

}

h6 {
    font-family: ‘Trebuchet MS’, ‘Lucida Sans Unicode’, ‘Lucida Grande’, ‘Lucida Sans’, Arial, sans-serif;
    color: rgb(10, 10, 10);
    margin-left: 50%;
    margin-top: 20%;
    font-size: medium;

}

p,
ul {
    color: rgb(0, 0, 0);
    font-family: ‘Trebuchet MS’, ‘Lucida Sans Unicode’, ‘Lucida Grande’, ‘Lucida Sans’, Arial, sans-serif;
}

a {
    color: #E0E0E2;
    font-size: 12px;
}

thead {
    background-color: rgb(121, 247, 209);
}
img {
	margin-left: auto;
	margin-right: auto;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	
  }
  .navbar-brand {
    font-size: 30px;
    font-weight: bolder;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #091ccc;
}

.box {
    background-color: #25BBA9;
    padding: 5%;
    border: 2px solid #7389AE;
    border-radius: 10px;
    margin-top: 80px;
}

/* This Code will modify classes set by the team */
#nav_color1 {
    color: #FFFFFF;
}